
html {
    background: #969696;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    background: #2a313d;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #f4f4f4;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    overflow: hidden;
}

.jumbotron {
  background: #CCCCCC;
  outline-style: solid;
  outline-color: #363636;
  outline-width: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #222222;
}

.jumbotron #welcome {
  background-image: url('../pics/background.JPG');
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  padding: 50px;
  color: #CCCCCC;
}

.jumbotron #hub {
  height: 100vh;
  text-align: center;
}

.jumbotron #headbar {
  outline-style: none;
  height: 10vh;
  overflow: auto;
}

.jumbotron #userbar {
  height: 30vh;
  overflow: auto;
}

.jumbotron #roombar {
  height: 35vh;
  overflow: auto;
}


.jumbotron #mainpage {
  height: 60vh;
  overflow: auto;
}

.jumbotron #chatbar #chat{
  height: 5vh;
  overflow: auto;
  width: 40vw;
}



@keyframes login {
  from {right: 300%;}
  to {right: 0%;}
}

.form-group {
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  height: inherit;
  width: 18vw;
}
